.corner {
  background-color: $surface;
  border-radius: 20px;
}

window.bar {
  background-color: transparent;
}

.barRight {
  border-top-left-radius: 20px;
  background: $surface;
}

.barLeft {
  background: transparent;
}

.leftContainer {
  background: $surface;
  border-top-right-radius: 20px;
}

.barRightCorner {
  background-color: $surface;
  border-radius: 20px;
}

.toolbar {
  margin: 3px;
  border-radius: 17px;
  background-color: $surfaceContainer;
}