.clock {
  background-color: $surfaceContainer;
  border-radius: 17px;
  color: $onSurfaceVariant;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 15px;
  margin: 3px;
  padding: 3px 10px 3px 10px;
}